<section class="shop__area pb-65">
  <div class="shop__top grey-bg-6 pt-100 pb-90">
    <div class="container">
      <app-product-details-upper-buyer
        [product]="product!"
      ></app-product-details-upper-buyer>
    </div>
  </div>
  <div class="shop__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="product__details-tab">
            <div class="product__details-tab-nav text-center mb-45">
              <nav>
                <div
                  class="nav nav-tabs justify-content-start justify-content-sm-center"
                  id="pro-details"
                  role="tablist"
                >
                  <a
                    class="nav-item nav-link active"
                    id="add-tab"
                    data-bs-toggle="tab"
                    href="#add"
                    role="tab"
                    aria-controls="add"
                    aria-selected="true"
                    >Specification</a
                  >
                  <a
                    class="nav-item nav-link"
                    id="des-tab"
                    data-bs-toggle="tab"
                    href="#des"
                    role="tab"
                    aria-controls="des"
                    aria-selected="false"
                    >Description</a
                  >
                  <a
                    class="nav-item nav-link"
                    id="des-tab"
                    data-bs-toggle="tab"
                    href="#del"
                    role="tab"
                    aria-controls="des"
                    aria-selected="false"
                    >Delivery & Returns</a
                  >
                </div>
              </nav>
            </div>
            <div class="tab-content" id="pro-detailsContent">
              <div class="tab-pane fade show active" id="add" role="tabpanel">
                <div class="product__details-add">
                  <div class="row">
                    <div class="col-lg-6 col-12">
                      <ul>
                        <li><span>Category</span></li>
                        <li class="value">
                          <span>{{ product.Details.CategoryName }}</span>
                        </li>

                        <li><span>Watch Markers</span></li>
                        <li class="value">
                          <span>{{ product.Details.WatchMarkerName }}</span>
                        </li>

                        <li><span>Recipient</span></li>
                        <li class="value">
                          <span>{{ product.Details.RecipientName }}</span>
                        </li>

                        <li><span>Case Material</span></li>
                        <li class="value">
                          <span>{{ product.Details.CaseMaterialName }}</span>
                        </li>
                      </ul>
                    </div>

                    <div class="col-lg-6 col-sm-12">
                      <ul>
                        <li><span>Strap Material</span></li>
                        <li class="value">
                          <span>{{ product.Details.StrapMaterialName }}</span>
                        </li>

                        <li><span>Brand Collections</span></li>
                        <li class="value">
                          <span>{{ product.Details.CollectionName }}</span>
                        </li>

                        <li><span>Water Resistant</span></li>
                        <li class="value">
                          <span>{{ product.Details.WaterResistant }}</span>
                        </li>

                        <li><span>Manufacturer Product Number</span></li>
                        <li class="value">
                          <span>{{
                            product.Details.ManufacturerProductNumber
                          }}</span>
                        </li>
                      </ul>
                    </div>

                    <div class="col-lg-6 col-12">
                      <ul>
                        <li><span>Movement</span></li>
                        <li class="value">
                          <span>{{ product.Details.MovementName }}</span>
                        </li>

                        <li><span>Dial Color</span></li>
                        <li class="value">
                          <span>{{ product.Details.DialColorName }}</span>
                        </li>

                        <li><span>Diameter</span></li>
                        <li class="value">
                          <span>{{ product.Details.Diameter }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="des" role="tabpanel">
                <div class="product__details-des">
                  <p>{{ product?.Description?.Title }}</p>
                  <div class="product__details-des-list mb-20">
                    <ul>
                      <li>
                        <span>{{ product?.Description?.Content }}</span>
                      </li>
                      <li>
                        <span>{{
                          product?.Description?.AdditionalDetails
                        }}</span>
                      </li>
                    </ul>
                  </div>
                  <p>{{ product?.details?.details_text_2 }}</p>
                </div>
              </div>
              <div class="tab-pane fade" id="del" role="tabpanel">
                <div class="product__details-des">
                  <div class="product__details-des-list mb-20">
                    <ul>
                      <li>
                        <span>{{
                          product?.DeliveryAndReturns?.DeliveryInformation
                        }}</span>
                      </li>
                      <li>
                        <span>{{
                          product?.DeliveryAndReturns?.ReturnsPolicy
                        }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
