<section class="login-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="basic-login">
          <h3 class="text-center mb-60">Signup</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Email Field -->
            <div class="mb-20">
              <label for="email">Email Address <span>**</span></label>
              <div class="input-wrapper">
                <input
                  id="email"
                  type="text"
                  placeholder="Enter your email address"
                  formControlName="email"
                />
              </div>
              <span
                *ngIf="
                  (email?.hasError('required') && email?.touched) ||
                  (email?.hasError('email') && email?.dirty) ||
                  (formSubmitted && !email?.value)
                "
                class="text-danger"
              >
                Email is required and must be a valid email address
              </span>
            </div>

            <!-- Password Field -->
            <div class="mb-20">
              <label for="password">Password <span>**</span></label>
              <div class="input-wrapper">
                <input
                  id="password"
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="Enter your password"
                  formControlName="password"
                />
                <i
                  class="fal"
                  [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility('password')"
                ></i>
              </div>
              <span
                *ngIf="
                  (password?.hasError('required') && password?.touched) ||
                  (password?.errors?.['pattern'] && password?.dirty) ||
                  (formSubmitted && !password?.value)
                "
                class="text-danger"
              >
                Password is required and must be at least 8 characters long,
                contain uppercase, lowercase, and a special character
              </span>
            </div>

            <!-- Confirm Password Field -->
            <div class="mb-20">
              <label for="confirm-password"
                >Confirm Password <span>**</span></label
              >
              <div class="input-wrapper">
                <input
                  id="confirm-password"
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  placeholder="Confirm your password"
                  formControlName="confirmPassword"
                />
                <i
                  class="fal"
                  [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility('confirmPassword')"
                ></i>
              </div>
              <span
                *ngIf="
                  confirmPassword?.hasError('required') &&
                  confirmPassword?.touched
                "
                class="text-danger"
              >
                Confirm Password is required
              </span>
              <span
                *ngIf="
                  registerForm.hasError('passwordsMismatch') &&
                  (confirmPassword?.dirty || formSubmitted)
                "
                class="text-danger"
              >
                Confirm Password does not match Password
              </span>
            </div>

            <!-- Register Button -->
            <button
              type="submit"
              class="os-btn w-100"
              [disabled]="!registerForm.valid"
            >
              Register Now
            </button>
            <div class="or-divide"><span>or</span></div>
            <a routerLink="/auth/login" class="os-btn os-btn-black w-100"
              >Login Now</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
