<div class="mini-cart">
  <div *ngIf="cartService.getCartProducts().length === 0">
    <h5>Your cart is empty</h5>
  </div>
  <div *ngIf="cartService.getCartProducts().length > 0" class="mini-cart-inner">
    <ul
      [ngClass]="[
        'mini-cart-list',
        cartService.getCartProducts().length === 1
          ? 'slider-height_1'
          : cartService.getCartProducts().length === 2
          ? 'slider-height_2'
          : 'slider-height'
      ]"
    >
      <li *ngFor="let item of cartService.getCartProducts()">
        <div class="cart-img f-left">
          <a [routerLink]="['/shop/shop-details', item.id]">
            <img [src]="item.Images[0]?.ImageURL" alt="cart-img" />
          </a>
        </div>
        <div class="cart-content f-left text-left">
          <h5>
            <a [routerLink]="['/shop/shop-details', item.id]">{{
              item.ProductName
            }}</a>
          </h5>
          <div class="cart-price">
            <span class="ammount">1 <i class="fal fa-times"></i></span>
            <span class="price"> {{ item.Price | currency : "INR" }}</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="total-price d-flex justify-content-between mb-30">
      <span>Subtotal:</span>
      <span>{{
        cartService.computeCartTotal(cartService.getCartProducts()).total
          | currency : "INR"
      }}</span>
    </div>
    <div class="checkout-link">
      <a routerLink="/buyer/cart" class="os-btn">view Cart</a>
      <a class="os-btn os-btn-black" routerLink="/buyer/checkout">Checkout</a>
    </div>
  </div>
</div>
