<!-- Header -->
<app-header-one [transparent]="true" [white_bg]="true"></app-header-one>

<main>
  <!-- Registration Area -->
  <section class="login-area pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="basic-login">
            <h3 class="text-center mb-60">Signup From Here</h3>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <!-- Email Field -->
              <div class="mb-20">
                <label for="email-id">Email Address <span>**</span></label>
                <input
                  id="email"
                  type="text"
                  placeholder="Email address..."
                  formControlName="email"
                />
                <span
                  *ngIf="
                    (email?.hasError('required') && email?.touched) ||
                    (email?.hasError('email') && email?.dirty) ||
                    (formSubmitted && !email?.value)
                  "
                  class="text-danger"
                >
                  Email is required and must be a valid email address
                </span>
              </div>

              <!-- Password Field -->
              <div class="mb-30">
                <label for="password">Password <span>**</span></label>
                <div class="password-wrapper">
                  <input
                    id="password"
                    [type]="isShowPass ? 'text' : 'password'"
                    placeholder="Enter password..."
                    formControlName="password"
                  />
                  <i
                    class="fa"
                    [ngClass]="isShowPass ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="handleShowPass()"
                  ></i>
                </div>
                <span
                  *ngIf="password?.errors?.['required'] && password?.touched"
                  class="text-danger"
                >
                  Password is required.
                </span>
                <span
                  *ngIf="password?.errors?.['passwordStrength'] && password?.touched"
                  class="text-danger"
                >
                  Password must be at least 8 characters long and include:
                  <ul>
                    <li>One uppercase letter</li>
                    <li>One lowercase letter</li>
                    <li>One number</li>
                    <li>One special character</li>
                  </ul>
                </span>
              </div>

              <!-- Confirm Password Field -->
              <div class="mb-30">
                <label for="confirmPassword"
                  >Confirm Password <span>**</span></label
                >
                <div class="password-wrapper">
                  <input
                    id="confirmPassword"
                    [type]="isShowConfirmPass ? 'text' : 'password'"
                    placeholder="Confirm password..."
                    formControlName="confirmPassword"
                  />
                  <i
                    class="fa"
                    [ngClass]="isShowConfirmPass ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="handleShowConfirmPass()"
                  ></i>
                </div>
                <span
                  *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched"
                  class="text-danger"
                >
                  Confirm Password is required.
                </span>
                <span
                  *ngIf="confirmPassword?.errors?.['mustMatch'] && confirmPassword?.touched"
                  class="text-danger"
                >
                  Passwords must match.
                </span>
              </div>

              <button type="submit" class="os-btn w-100">Register Now</button>
              <div class="or-divide"><span>or</span></div>
              <a routerLink="/pages/login" class="os-btn os-btn-black w-100"
                >Login Now</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Footer -->
<app-footer-one></app-footer-one>
