<div class="sidebar__widget mb-20">
  <div class="sidebar__widget-title mb-10">
    <h3>Choose Color</h3>
  </div>
  <div class="sidebar__widget-content">
    <div class="color__pick">
      <form action="#">
        <ul>
          <li *ngFor="let c of all_colors; let i = index">
            <button
              (click)="handleColor(c)"
              type="button"
              [ngClass]="['color', getColorClass(c)]"
              [class.active]="color && c?.toLowerCase() === color.toLowerCase()"
            ></button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
