<div class="sidebar__widget mb-20">
  <div class="sidebar__widget-title mb-10">
    <h3>Choose Color</h3>
  </div>
  <div class="sidebar__widget-content">
    <div class="color__pick">
      <form action="#">
        <ul>
          <li *ngFor="let c of all_colors; trackBy: trackByColor">
            <button
              (click)="handleColor(c)"
              type="button"
              class="color"
              [ngStyle]="getColorStyles(c)"
              [class.active]="color === normalizeColor(c)"
              [attr.aria-label]="c"
              [title]="c"
            ></button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
