.border-bottom-sub-heading {
    border-bottom: 1px solid #eaedff;
}

.uploaded-img {
    width: 200px;
    /* Adjust size as needed */
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.image-container {
    display: inline-block;
    position: relative;
    border: 2px solid #eaedff;
}

.image-container a {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
}