<app-breadcrumb-two title="Products" subtitle="List"></app-breadcrumb-two>

<section class="order-info container">
  <header
    class="order-info__header d-flex justify-content-between align-items-center pt-40"
  >
    <h2 class="order-info__title">My Products</h2>
    <div class="order__info-btn">
      <app-pagination
        [data]="orders"
        [paginate]="paginate"
        (setPage)="setPage($event)"
      >
      </app-pagination>
    </div>
  </header>

  <div class="order-list white-bg table-responsive pt-40">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Brand Name</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let order of paginationOrders; let i = index">
          <tr
            [routerLink]="['/seller/product-details', order._id]"
            class="clickable-row"
            [attr.aria-label]="'View order #' + order.id + ' details'"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ order.Details.BrandName }}</td>
            <td>{{ order.ProductName }}</td>
            <td>{{ order.Price | currency : "INR" }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</section>
